:root {
  --color-bg1: #9f110e;
  --color-bg2: rgba(255, 249, 229, 0.38);
  --color-accordion-bg: #fff9e5;
  --color-bg-menu: #fff9e5;

  --color-h2: #8c2121;
  --color-h3: #8c2121;
  --color-p: #000;
  --color-burgermenu: #fff9e5;
}
